[Unit]
Description=AlloyAI Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/alloyai/bin/alloyai-start.sh --install-dir /usr/local/alloyai --config /etc/alloyai/alloyai.conf
Restart=on-failure
# User=alloy
# Group=alloy

[Install]
WantedBy=multi-user.target
